@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f3f8;
  --foreground: #101116;
  --primary: #0046ff;
  --primary-hover: rgba(0, 70, 255, 0.2);
  --gray-100: #e1e3ea;
  --gray-200: #d3d6de;
  --gray-500: #737684;
  --gray-600: #454855;
  --gray-900: #101116;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for horizontal scroll on mobile */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
